{% extends '_base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container mt-4">
    <h1>Welcome to our store!</h1>
    {% if user.is_authenticated %}
        <h3>Welcome, {{ user.username }}!</h3>
    {% else %}
        <h3>Welcome Guest</h3>
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    
    <div class="row">
        {% for item in items %}
        <div class="col-md-4 mb-4">
            <div class="card h-60">
                <div class="card-img-container">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'product_detail' item.pk %}">{{ item.name }}</a></h5>
                    <p class="card-text">{{ item.brand }}</p>
                    <span class="original-price"><strike>₹{{ item.price }}</strike></span>
                    <span class="discounted-price">₹{{ item.discounted_price }}</span>
                    {% if user.user_type == "customer" or user.is_authenticated == False %}
                    {% if item.stock > 0 %}
                    <a href="{% url 'order_confirm' item.pk %}" class="btn btn-primary">Order</a>
                    <form method="post" action="{% url 'add_to_cart' item.pk %}">
                        {% csrf_token %}
                        <br>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                    {% else %}
                    <p class="text-danger">Out of Stock</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock content %}  