{% extends '_base.html' %}

{% block title %}Order{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>Order</h1>
    <h3>Total Price: ₹ {{ total_price }}</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-group mb-3">
        {{ form.state.label_tag }} {{ form.state }}
      </div>
      <div class="form-group mb-3">
        {{ form.city.label_tag }} {{ form.city }}
      </div>
      <div class="form-group mb-3">
        {{ form.pincode.label_tag }} {{ form.pincode }}
      </div>
      <div class="form-group mb-3">
        {{ form.address.label_tag }} {{ form.address }}
      </div>
      <div class="form-group mb-3">
        {{ form.phone.label_tag }} {{ form.phone }}
      </div>
      <div class="form-group mb-3">
        {{ form.couponcode.label_tag }} {{ form.couponcode }}
      </div>
      <button type="submit" class="btn btn-primary">Submit Order</button>
    </form>
  </div>
{% endblock %}