{% extends '_base.html' %}
{% load static %}

{% block title %}Detail of {{item.name}}{% endblock title %}

{% block content %}
<h3>{{item.name}}</h3>
<div class="row">
    <div class="col-md-6">
        <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.name }}">
    </div>
    <div class="col-md-6">
        <p>Brand: {{ item.brand }}</p>
        <span class="original-price"><strike>₹{{ item.price }}</strike></span>
        <br>
        <span class="discounted-price">₹{{ item.discounted_price }}</span>
        
        <p>Category: {{ item.category }}</p>
        
        
        <p>Description: {{ item.description }}</p>
        <a href="{% url 'order_confirm' item.pk  %}" class="btn btn-primary">Order</a>
        
        <h6>Ratings : 
            {% if item.avg_rating == 0.0 %}
                No ratings yet!
            {% else %}
                {{ item.avg_rating }}
            {% endif %}
            </h6>
    </div>
    {% if reviews %}
    <ul>
        {% for review in reviews %}
        <li>
                    <hr>
                    <strong>{{ review.review_author.username }}</strong> 
                    (Rating: {{ review.rating }}/5):
                    <p>{{ review.review }}</p>
                    <p><small>Reviewed on {{ review.created_at|date:"F j, Y, g:i a" }}</small></p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <br>    
        <hr>
        <p>No reviews yet. Be the first to review this item!</p>
    {% endif %}
{% endblock content %}