{% extends '_base.html' %}
{% load static %}

{% block title %}Detail of {{item.name}}{% endblock title %}

{% block content %}
<h3>{{item.name}}</h3>
<div class="row">
    <div class="col-md-6">
        <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.name }}">
    </div>
    <div class="col-md-6">
        <p>Brand: {{ item.brand }}</p>
        <span class="original-price"><strike>₹{{ item.price }}</strike></span>
        <br>
        <span class="discounted-price">₹{{ item.discounted_price }}</span>
        
        <p>Category: {{ item.category }}</p>
        
        
        <p>Description: {{ item.description }}</p>
        <a href="{% url 'order_confirm' item.pk  %}" class="btn btn-primary">Order</a>
    </div>
{% endblock content %}